# MAIN_AI_API_KEY=sk-**************
# MAIN_AI_BASE_URL=https://api.xiaomimimo.com/v1
# MAIN_AI_MODEL=mimo-v2-flash

MAIN_AI_API_KEY=sk-**************
MAIN_AI_BASE_URL=https://api.deepseek.com
MAIN_AI_MODEL=deepseek-chat

SILICONFLOW_API_KEY=sk-**************
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
EMBEDDING_MODEL=BAAI/bge-m3